<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Event Name</th>
      <th scope="col">Created At</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  	<%@events.each do |event|%>
    <tr>
    	<th scope="row">1</th>
      <td><%=event.name%></td>
      <td><%=event.created_at%></td>
      <td><button type="button" class="btn btn-success">Follow</button></td>
    </tr>
    <%end%>
   
  </tbody>
</table